# Q1.Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’.

In [124]:
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup
url='https://en.wikipedia.org/wiki/Main_Page'
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
response = requests.get(url)
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n')

List all the header tags :
<h1 class="firstHeading" id="firstHeading">Main Page</h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3 class="vector-menu-heading" id="p-personal-label"><span>Personal tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-namespaces-label"><span>Namespaces</span>
</h3>
<h3 class="vector-menu-heading" id="p-variants-label"><span>Variants</span>
</h3>
<h3 class="vector-menu-heading" id="p-views-label"><span>Views</span>
</h3>
<h3 class="vector-menu-heading" id="p-cactions-label"><span>More</span>
</h3>
<h3>
<label for="searchInput">Search</label>
</h3>
<h3 class="vector-menu-heading" id="p-navigation-label"><span>Navigation</span>
</h3>
<h3 class="vector-menu-heading" id="p-interaction-label"><span>Contribute</span>
</h3>
<h3 class="vector-menu-heading" id="p-tb-label"><span>Tools</span>
</h3>
<h3 class="vector-menu-heading" id="p-coll-print_export-label"><span>Print/export</span>
</h3>
<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label"><span>In other projects</span>
</h3>
<h3 class="vector-menu-heading" id="p-lang-label"><span>Languages</span>
</h3>

# Q2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [31]:
from bs4 import BeautifulSoup
import requests
import re
 
# Downloading imdb top 100 movie's data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
movies = soup.select('td.titleColumn')
#crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
           for b in soup.select('td.posterColumn span[name=ir]')]
list = []
i=1
# create a empty list for storing movie information
list = []
 
for index in range(0, 100):
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    data = {"movie_title": movie_title,
            "year": year,"rating": ratings[index] }
    list.append(data)
 
# printing movie details with its rating.
print('No:       Movie Title          Rating       Release Year')
for movie in list:
    print(i,': ',movie['movie_title'],'-',movie['rating'], '-('+movie['year'] +
          ')')
    i=i+1

No:       Movie Title          Rating       Release Year
1 :  The Shawshank Redemption - 9.22036964433254 -(1994)
2 :  The Godfather - 9.147251556786605 -(1972)
3 :  The Godfather: Part II - 8.980398356844008 -(1974)
4 :  The Dark Knight - 8.972060891971768 -(2008)
5 :  12 Angry Men - 8.93793040865779 -(1957)
6 :  Schindler's List - 8.910595872308367 -(1993)
7 :  The Lord of the Rings: The Return of the King - 8.88747078523366 -(2003)
8 :  Pulp Fiction - 8.836832660516114 -(1994)
9 :  Il buono, il brutto, il cattivo - 8.786909055676347 -(1966)
10 :   The Lord of the Rings: The Fellowship of the Ring - 8.777862040752531 -(2001)
11 :  Fight Club - 8.752917627982814 -(1999)
12 :  Forrest Gump - 8.7436372393751 -(1994)
13 :  Inception - 8.714583426472165 -(2010)
14 :  The Lord of the Rings: The Two Towers - 8.701156181713246 -(2002)
15 :  Star Wars: Episode V - The Empire Strikes Back - 8.695182837682873 -(1980)
16 :  The Matrix - 8.64386974235396 -(1999)
17 :  Goodfellas - 8.643592046472227 -(1990)
18 :  One Flew Over the Cuckoo's Nest - 8.635423551177102 -(1975)
19 :  Shichinin no samurai - 8.610010835024214 -(1954)
20 :  Se7en - 8.587338305884467 -(1995)
21 :  The Silence of the Lambs - 8.576742576886456 -(1991)
22 :  Cidade de Deus - 8.576522905521466 -(2002)
23 :  La vita è bella - 8.574878582226601 -(1997)
24 :  It's a Wonderful Life - 8.574614755312446 -(1946)
25 :  Star Wars - 8.552397663501617 -(1977)
26 :  Saving Private Ryan - 8.549404736641153 -(1998)
27 :  Sen to Chihiro no kamikakushi - 8.537830237043902 -(2001)
28 :  Interstellar - 8.537160729798115 -(2014)
29 :  The Green Mile - 8.534974037092661 -(1999)
30 :  Gisaengchung - 8.527282709424005 -(2019)
31 :  Léon - 8.500157631190577 -(1994)
32 :  Seppuku - 8.498755510301665 -(1962)
33 :  The Pianist - 8.488519092438375 -(2002)
34 :  The Usual Suspects - 8.487569930477402 -(1995)
35 :  Terminator 2: Judgment Day - 8.48422803537563 -(1991)
36 :  Back to the Future - 8.484199310197031 -(1985)
37 :  Psycho - 8.481776457659947 -(1960)
38 :  Modern Times - 8.481308722824252 -(1936)
39 :  The Lion King - 8.480634122694646 -(1994)
40 :  American History X - 8.474073747772522 -(1998)
41 :  City Lights - 8.472227647082061 -(1931)
42 :  Hotaru no haka - 8.46851146666996 -(1988)
43 :  Gladiator - 8.467953130467786 -(2000)
44 :  Whiplash - 8.467785321388106 -(2014)
45 :  The Departed - 8.466421945866015 -(2006)
46 :  The Intouchables - 8.460242644311542 -(2011)
47 :  The Prestige - 8.452661055766349 -(2006)
48 :  Casablanca - 8.449206679328393 -(1942)
49 :  Once Upon a Time in the West - 8.447825655573649 -(1968)
50 :  Rear Window - 8.438508359928177 -(1954)
51 :  Nuovo Cinema Paradiso - 8.436831587667468 -(1988)
52 :  Alien - 8.422617311122451 -(1979)
53 :  Apocalypse Now - 8.4177138992693 -(1979)
54 :  Memento - 8.410345480876975 -(2000)
55 :  Raiders of the Lost Ark - 8.407515419656086 -(1981)
56 :  The Great Dictator - 8.405593883407763 -(1940)
57 :  The Lives of Others - 8.391405904187943 -(2006)
58 :  Django Unchained - 8.389243279537673 -(2012)
59 :  Paths of Glory - 8.383208782968739 -(1957)
60 :  Sunset Blvd - 8.376854380513889 -(1950)
61 :  WALL·E - 8.37248035792711 -(2008)
62 :  The Shining - 8.364871382530511 -(1980)
63 :  Avengers: Infinity War - 8.363125223892547 -(2018)
64 :  Witness for the Prosecution - 8.361847503717705 -(1957)
65 :  Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb - 8.353424597431395 -(1964)
66 :  Spider-Man: Into the Spider-Verse - 8.352215565912173 -(2018)
67 :  Joker - 8.351122976785689 -(2019)
68 :  Oldeuboi - 8.34430894317991 -(2003)
69 :  Mononoke-hime - 8.344302755787327 -(1997)
70 :  Kimi no na wa - 8.3264817138788 -(2016)
71 :  Once Upon a Time in America - 8.324519692637876 -(1984)
72 :  The Dark Knight Rises - 8.322547250969675 -(2012)
73 :  Aliens - 8.321457212693286 -(1986)
74 :  Coco - 8.321081775408684 -(2017)
75 :  Hamilton - 8.317567510717073 -(2020)
76 :  Capharnaüm - 8.30759787130736 -(2018)
77 :  Das Boot - 8.307494084899401 -(1981)
78 :  Avengers: Endgame - 8.306742272130185 -(2019)
79 :  Tengoku to jigoku - 8.305516349263037 -(1963)
80 :  American Beauty - 8.298870908118484 -(1999)
81 :  Toy Story - 8.296023138341539 -(1995)
82 :  3 Idiots - 8.294924377483975 -(2009)
83 :  Amadeus - 8.294295824728636 -(1984)
84 :  Braveheart - 8.294251205000613 -(1995)
85 :  Inglourious Basterds - 8.287125070245729 -(2009)
86 :  Good Will Hunting - 8.279612251647485 -(1997)
87 :  Star Wars: Episode VI - Return of the Jedi - 8.275108199543691 -(1983)
88 :  2001: A Space Odyssey - 8.273442702973165 -(1968)
89 :  Reservoir Dogs - 8.27284958460748 -(1992)
90 :  Taare Zameen Par - 8.271735274732224 -(2007)
91 :  M - Eine Stadt sucht einen Mörder - 8.271699545327472 -(1931)
92 :  Pather Panchali - 8.269477342034627 -(1955)
93 :  Vertigo - 8.269184670465613 -(1958)
94 :  Citizen Kane - 8.26789785201464 -(1941)
95 :  Idi i smotri - 8.264629039184344 -(1985)
96 :  Jagten - 8.263742972802484 -(2012)
97 :  Requiem for a Dream - 8.261683621499053 -(2000)
98 :  Singin' in the Rain - 8.258637388585242 -(1952)
99 :  North by Northwest - 8.257546845497213 -(1959)
100 :   Eternal Sunshine of the Spotless Mind - 8.256304025059737 -(2004)

# Q3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [32]:
from bs4 import BeautifulSoup
import requests
import re
 
# Downloading imdb top 100 movie's data
url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')
movies = soup.select('td.titleColumn')
#crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
           for b in soup.select('td.posterColumn span[name=ir]')]
list = []
i=1
# create a empty list for storing movie information
list = []
 
for index in range(0, 100):
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    data = {"movie_title": movie_title,
            "year": year,"rating": ratings[index] }
    list.append(data)
 
# printing movie details with its rating.
print('No:       Movie Title          Rating       Release Year')
for movie in list:
    print(i,': ',movie['movie_title'],'-',movie['rating'], '-('+movie['year'] +
          ')')
    i=i+1

No:       Movie Title          Rating       Release Year
1 :  Nayakan - 8.495504520049028 -(1987)
2 :  Anbe Sivam - 8.482083472709842 -(2003)
3 :  Pariyerum Perumal - 8.481216214195033 -(2018)
4 :  Golmaal - 8.466390169216622 -(1979)
5 :  C/o Kancharapalem - 8.464315584367396 -(2018)
6 :  Apur Sansar - 8.460507706304348 -(1959)
7 :  Manichitrathazhu - 8.454568538215737 -(1993)
8 :  Kireedam - 8.45368159627122 -(1989)
9 :  Pather Panchali - 8.43787756604357 -(1955)
10 :   Natsamrat - 8.434985184128095 -(2016)
11 :  96 - 8.42783424531152 -(2018)
12 :  Thevar Magan - 8.411921638736851 -(1992)
13 :  Black Friday - 8.411510862519222 -(2004)
14 :  Kumbalangi Nights - 8.406677480749376 -(2019)
15 :  Visaaranai - 8.357516367354672 -(2015)
16 :  3 Idiots - 8.350455812420057 -(2009)
17 :  Soorarai Pottru - 8.34933035357963 -(2020)
18 :  Jersey - 8.337062687652654 -(2019)
19 :  Taare Zameen Par - 8.330624489024435 -(2007)
20 :  Drishyam 2 - 8.330564612332074 -(2021)
21 :  Asuran - 8.313289017610106 -(2019)
22 :  Thalapathi - 8.309633411746171 -(1991)
23 :  Kaithi - 8.300875132739478 -(2019)
24 :  Dangal - 8.299985072268125 -(2016)
25 :  Sarpatta Parambarai - 8.293915728102048 -(2021)
26 :  Devasuram - 8.288140987879816 -(1993)
27 :  Aparajito - 8.280484900527295 -(1956)
28 :  Ratsasan - 8.27999011463983 -(2018)
29 :  Jaane Bhi Do Yaaro - 8.274452685181833 -(1983)
30 :  Pyaasa - 8.268230447261159 -(1957)
31 :  Vada Chennai - 8.264776450279005 -(2018)
32 :  Peranbu - 8.264282347426384 -(2018)
33 :  Guide - 8.259788273259506 -(1965)
34 :  Thani Oruvan - 8.254479816943812 -(2015)
35 :  Kannathil Muthamittal - 8.243266852735035 -(2002)
36 :  Chupke Chupke - 8.238418432027284 -(1975)
37 :  Iruvar - 8.23727490051067 -(1997)
38 :  Shershaah - 8.236796645986828 -(2021)
39 :  Spadikam - 8.236495275262211 -(1995)
40 :  Agent Sai Srinivasa Athreya - 8.234779827591165 -(2019)
41 :  Super Deluxe - 8.227725696906433 -(2019)
42 :  Mahanati - 8.2181578608717 -(2018)
43 :  Aruvi - 8.213047212916377 -(2016)
44 :  Drishyam - 8.211045199027755 -(2013)
45 :  Khosla Ka Ghosla! - 8.2064320125386 -(2006)
46 :  Pudhu Pettai - 8.204878698468269 -(2006)
47 :  Vikram Vedha - 8.20161550057846 -(2017)
48 :  Tumbbad - 8.201255729064567 -(2018)
49 :  Premam - 8.184602085147002 -(2015)
50 :  Anniyan - 8.182419098861294 -(2005)
51 :  Mudhalvan - 8.175247080712213 -(1999)
52 :  Bangalore Days - 8.174988220768723 -(2014)
53 :  Kaakkaa Muttai - 8.17472676940748 -(2014)
54 :  Anand - 8.171524922579632 -(1971)
55 :  Satya - 8.169444291253832 -(1998)
56 :  Andhadhun - 8.168398882302549 -(2018)
57 :  Dhuruvangal Pathinaaru - 8.16770245892749 -(2016)
58 :  Papanasam - 8.16737990813241 -(2015)
59 :  Soodhu Kavvum - 8.163117201652213 -(2013)
60 :  Shahid - 8.159379605337111 -(2012)
61 :  Jigarthanda - 8.14788050392269 -(2014)
62 :  Gangs of Wasseypur - 8.144854516547968 -(2012)
63 :  Pithamagan - 8.14473067473791 -(2003)
64 :  Paan Singh Tomar - 8.135082957928537 -(2012)
65 :  Bhaag Milkha Bhaag - 8.130264420209372 -(2013)
66 :  Hera Pheri - 8.127203428458522 -(2000)
67 :  Sairat - 8.126633861218583 -(2016)
68 :  Sholay - 8.1215407155524 -(1975)
69 :  Swades: We, the People - 8.120697126789512 -(2004)
70 :  Talvar - 8.12002386536086 -(2015)
71 :  Chak De! India - 8.117683457147422 -(2007)
72 :  Maheshinte Prathikaaram - 8.114287711733974 -(2016)
73 :  Ustad Hotel - 8.11354286025237 -(2012)
74 :  Black - 8.111970256589478 -(2005)
75 :  Zindagi Na Milegi Dobara - 8.111366355776358 -(2011)
76 :  Mughal-E-Azam - 8.110972646594048 -(1960)
77 :  Jo Jeeta Wohi Sikandar - 8.109992894550356 -(1992)
78 :  Nil Battey Sannata - 8.108163171445277 -(2015)
79 :  Drishyam - 8.10810019523926 -(2015)
80 :  Theeran adhigaaram ondru - 8.107204137665715 -(2017)
81 :  Udaan - 8.103771569294635 -(2010)
82 :  Charulata - 8.103620450493038 -(1964)
83 :  Article 15 - 8.102938137325623 -(2019)
84 :  A Wednesday - 8.100448679384648 -(2008)
85 :  Masaan - 8.094506263027327 -(2015)
86 :  Chhichhore - 8.093217809639372 -(2019)
87 :  Munna Bhai MBBS - 8.092843554585116 -(2003)
88 :  Queen - 8.09209317435337 -(2013)
89 :  Baasha - 8.092061312180356 -(1995)
90 :  Sarfarosh - 8.09161138169187 -(1999)
91 :  Alai Payuthey - 8.091393193194584 -(2000)
92 :  Dil Chahta Hai - 8.08614635053801 -(2001)
93 :  OMG: Oh My God! - 8.085068299131416 -(2012)
94 :  Rang De Basanti - 8.082921290907683 -(2006)
95 :  Roja - 8.082824253527072 -(1992)
96 :  Virumandi - 8.082101370351767 -(2004)
97 :  Lagaan: Once Upon a Time in India - 8.073739459658599 -(2001)
98 :  Kahaani - 8.073096158053705 -(2012)
99 :  Andaz Apna Apna - 8.072479142687216 -(1994)
100 :   Uri: The Surgical Strike - 8.071336744157556 -(2019)

# Q4.Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [27]:
from bs4 import BeautifulSoup
import requests
import re
 
url = 'https://www.bookpage.com'
page = requests.get(url)
page.text

soup=BeautifulSoup(page.content)
f1_title=soup.find_all('h4',class_="italic")


book_name=[]
for i in f1_title:
    for j in i.find_all("a"):
        book_name.append(j.text.replace("\n"," "))

AuthorName=soup.find_all('p',class_="sans bold")

Author_name=[]
for i in AuthorName:
    Author_name.append(i.text.replace("\n"," "))
Review=soup.find_all('p',class_="excerpt")

Reviews=[]
for i in Review:
    Reviews.append(i.text.replace("\n"," "))

genere=soup.find_all('p',class_="genre-links hidden-phone")
generes=[]
for i in genere:
    generes.append(i.text.replace("\n"," "))

import pandas as pd
book_series=pd.DataFrame({})
book_series['book_name']=book_name
book_series['Author_name']=Author_name
book_series['Reviews']=Reviews
book_series = book_series.iloc[1: , :]
book_series['generes']=generes
left_book_series = book_series.style.set_properties(**{'text-align': 'left'})
display(left_book_series)

# 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team and rating.

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [18]:
from bs4 import BeautifulSoup
import requests
import re
 
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
page = requests.get(url)
page.text
soup=BeautifulSoup(page.content)
k=1


team_title=soup.find_all('span',class_="u-hide-phablet")
Team_name=[]
for i in team_title:
        Team_name.append(i.text.replace("\n"," "))
Team_name=Team_name[:10]       
matches=soup.find_all('td',class_="table-body__cell u-center-text")
matches1=[]
for i in matches:
    matches1.append(i.text.replace("\n"," "))
    #matches1.pop()
    
matches11=matches1[::2]   
matches11.insert(0,17)
matches11=matches11[:10]      
matches1.pop(0)
points=matches1[::2]
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating1=[]
for i in rating:
    rating1.append(i.text)
rating1.insert(0,121)
rating1=rating1[:10]      
points.insert(0,2054)
points=points[:10]      


import pandas as pd
ODI_series=pd.DataFrame({})
ODI_series['Team_name']=Team_name
ODI_series['matches']=matches11
ODI_series['points']=points
ODI_series['rating']=rating1

left_ODI_series = ODI_series.style.set_properties(**{'text-align': 'left'})
display(left_ODI_series)

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [13]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
page = requests.get(url)
page.text
soup=BeautifulSoup(page.content)
k=1


team_title=soup.find_all('span',class_="table-body__logo-text")
Team_name=[]
for i in team_title:
        Team_name.append(i.text.replace("\n"," "))
Team_name.insert(0,'PAK')
Team_name=Team_name[:10]  

   
rating=soup.find_all('td',class_="table-body__cell rating")
rating1=[]
for i in rating:
    rating1.append(i.text)
rating1.insert(0,873)
rating1=rating1[:10]      


import pandas as pd
ODI_series=pd.DataFrame({})
ODI_series['Team_name']=Team_name
#ODI_series['matches']=matches1
ODI_series['rating']=rating1
ODI_series

  Team_name rating
0       PAK    873
1       IND    844
2       IND    813
3        NZ    801
4       AUS    779
5       ENG    775
6       AUS    762
7        SA    758
8        WI    758
9        NZ    754

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [19]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
page = requests.get(url)
page.text
soup=BeautifulSoup(page.content)
k=1


team_title=soup.find_all('span',class_="table-body__logo-text")
Team_name=[]
for i in team_title:
        Team_name.append(i.text.replace("\n"," "))
Team_name.insert(0,'NZ')
Team_name=Team_name[:10]  

   
rating=soup.find_all('td',class_="table-body__cell rating")
rating1=[]
for i in rating:
    rating1.append(i.text)
rating1.insert(0,737)
rating1=rating1[:10]      


import pandas as pd
ODI_series=pd.DataFrame({})
ODI_series['Team_name']=Team_name
#ODI_series['matches']=matches1
ODI_series['rating']=rating1

left_ODI_series = ODI_series.style.set_properties(**{'text-align': 'left'})
display(left_ODI_series)

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
ii) Top 10 women’s ODI players along with the records of their team and rating.
iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [20]:
from bs4 import BeautifulSoup
import requests
import re
 
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
page = requests.get(url)
page.text
soup=BeautifulSoup(page.content)
k=1


team_title=soup.find_all('span',class_="u-hide-phablet")
Team_name=[]
for i in team_title:
        Team_name.append(i.text.replace("\n"," "))
Team_name=Team_name[:10]       
matches=soup.find_all('td',class_="table-body__cell u-center-text")
matches1=[]
for i in matches:
    matches1.append(i.text.replace("\n"," "))
    #matches1.pop()
    
matches11=matches1[::2]   
matches11.insert(0,18)

matches11=matches11[:10]      
matches1.pop(0)
points=matches1[::2]      
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating1=[]
for i in rating:
    rating1.append(i.text)
rating1.insert(0,164)
rating1=rating1[:10]      
points.insert(0,2955)
points=points[:10]

import pandas as pd
ODI_series=pd.DataFrame({})
ODI_series['Team_name']=Team_name
ODI_series['matches']=matches11
ODI_series['points']=points
ODI_series['rating']=rating1
left_ODI_series = ODI_series.style.set_properties(**{'text-align': 'left'})
display(left_ODI_series)

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [21]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
page = requests.get(url)
page.text
soup=BeautifulSoup(page.content)
k=1

team_title=soup.find_all('span',class_="u-show-phablet")
Team_name=[]
for i in team_title:
        Team_name.append(i.text.replace("\n"," "))
Team_name=Team_name[:10]  

   
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating1=[]
for i in rating:
    rating1.append(i.text)
rating1.insert(0,164)
rating1=rating1[:10]      


import pandas as pd
ODI_series=pd.DataFrame({})
ODI_series['Team_name']=Team_name
#ODI_series['matches']=matches1
ODI_series['rating']=rating1
left_ODI_series = ODI_series.style.set_properties(**{'text-align': 'left'})
display(left_ODI_series)

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [22]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
page = requests.get(url)
page.text
soup=BeautifulSoup(page.content)
k=1


team_title=soup.find_all('span',class_="table-body__logo-text")
Team_name=[]
for i in team_title:
        Team_name.append(i.text.replace("\n"," "))
Team_name.insert(0,'SA')
Team_name=Team_name[:10]  

   
rating=soup.find_all('td',class_="table-body__cell rating")
rating1=[]
for i in rating:
    rating1.append(i.text)
rating1.insert(0,418)
rating1=rating1[:10]      


import pandas as pd
ODI_series=pd.DataFrame({})
ODI_series['Team_name']=Team_name
#ODI_series['matches']=matches1
ODI_series['rating']=rating1
left_ODI_series = ODI_series.style.set_properties(**{'text-align': 'left'})
display(left_ODI_series)

# Q7 Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [38]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
headers = {
  'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36',
}
url = 'https://www.amazon.in/s?k=mobile+phone+under+20000+rupees&ref=nb_sb_noss_1'
page = requests.get(url, headers=headers)
soup=BeautifulSoup(page.content)
page

In [39]:
title1=soup.find_all('span',class_="a-size-medium a-color-base a-text-normal")
title=[]
for i in title1:
        title.append(i.text.replace("\n"," "))
price1=soup.find_all('span',class_="a-price-whole")
price=[]
for i in price1:
    price.append(i.text.replace("\n"," "))
#price.append("NA")

img1=[]
images = soup.find_all('img', {'src':re.compile('.jpg')})
for image in images: 
    img1.append(image['src'])
img1=img1[:16]

rating1=soup.find_all('span',class_="a-icon-alt")
rating=[]
for i in rating1:
    rating.append(i.text.replace("\n"," "))
rating=rating[:16]
Amazondata=pd.DataFrame({})
Amazondata['title']=title
Amazondata['price']=price
Amazondata['rating']=rating
Amazondata['url']=img1
left_Amazondata = Amazondata.style.set_properties(**{'text-align': 'left'})
display(left_Amazondata)

# Q8.Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [40]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

url = 'https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YSEtdI4zaHs'
page = requests.get(url)
page

In [32]:
soup=BeautifulSoup(page.content)

period1=soup.find_all('p',class_="period-name")
period=[]
for i in period1:
        period.append(i.text.replace("\n"," "))

Short_description1=soup.find_all('p',class_="short-desc")
Short_description=[]
for i in Short_description1:
    Short_description.append(i.text.replace("\n"," "))
    
description1=soup.find_all('div',class_="col-sm-10 forecast-text")
description=[]
for i in description1:
    description.append(i.text.replace("\n"," "))
description=description[:9]    
temperature11=soup.find_all('p',class_="temp temp-low")
temperature1=[]
temperature2=[]
for i in temperature11:
    temperature1.append(i.text.replace("\n"," "))
temperature11=soup.find_all('p',class_="temp temp-high")
for i in temperature11:
    temperature2.append(i.text.replace("\n"," "))

temp = [None]*(len(temperature1)+len(temperature2))
temp[::2] = temperature2
temp[1::2] = temperature1


weather=pd.DataFrame({})
weather['period']=period
weather['Short_description']=Short_description1
weather['temperature']=temp
weather['description']=description
left_weather = weather.style.set_properties(**{'text-align': 'left'})
display(left_weather)

# 一	9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [33]:
from bs4 import BeautifulSoup
import requests
import re
 
url = 'https://internshala.com/fresher-jobs'
page = requests.get(url)
page

In [35]:
page = requests.get(url)
soup=BeautifulSoup(page.content)

title1=soup.find_all('div',class_="heading_4_5 profile")
title=[]
for i in title1:
        title.append(i.text.replace("\n"," "))

company1=soup.find_all('div',class_="heading_6 company_name")
company=[]
for i in company1:
    company.append(i.text.replace("\n"," "))

CTC1=soup.find_all('div',class_="item_body")
CTC=[]
for i in CTC1:
    CTC.append(i.text.replace("\n"," "))
CTC.pop(0)
CTC=CTC[::3]

Adate1=soup.find_all('div',class_="item_body")
Adate=[]
for i in Adate1:
    Adate.append(i.text.replace("\n"," "))
Adate.pop(0)
Adate.pop(0)
Adate=Adate[::3] 

import pandas as pd
JobDetails=pd.DataFrame({})
JobDetails['title']=title
JobDetails['company']=company
JobDetails['CTC']=CTC
JobDetails['Adate']=Adate
left_JobDetails = JobDetails.style.set_properties(**{'text-align': 'left'})
display(left_JobDetails)

# 10. Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [36]:
from bs4 import BeautifulSoup
import requests
import re
 
url = 'https://www.nobroker.in/property/sale/mumbai/Dadar?searchParam=W3sibGF0IjoxOS4wMTc3OTg5LCJsb24iOjcyLjg0NzgxMTk5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSkQ4MmdEdHZPNXpzUjBGdVpPVkJHaWtJIiwicGxhY2VOYW1lIjoiRGFkYXIifV0=&radius=2.0'
page = requests.get(url)
page

In [37]:
page = requests.get(url)
page.text
soup=BeautifulSoup(page.content)

title1=soup.find_all('h2',class_="heading-6 font-semi-bold nb__1AShY")
title=[]
for i in title1:
        title.append(i.text.replace("\n"," "))

location1=soup.find_all('div',class_="nb__2CMjv")
location=[]
for i in location1:
    location.append(i.text.replace("\n"," "))

area1=soup.find_all('div',class_="nb__3oNyC")
area=[]
for i in area1:
    area.append(i.text.replace("\n"," "))
emi1=soup.find_all('div',class_="font-semi-bold heading-6",id="roomType")
emi=[]
for i in emi1:
    emi.append(i.text.replace("\n"," "))

price1=soup.find_all('div',class_="font-semi-bold heading-6")
price=[]
for i in price1:
    price.append(i.text.replace("\n"," "))    
price1
price.pop(0)
price.pop(0)
price=price[::3]

house=pd.DataFrame({})
house['title']=title
house['location']=location
house['area']=area
house['emi']=emi
house['price']=price
left_house = house.style.set_properties(**{'text-align': 'left'})
display(left_house)